.inputBar {
  border: 1px solid #ccc;
  padding: 2px 6px;
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 40px;
  line-height: 20px;
  resize: none;
  font-size: var(--text-size);
  word-wrap: break-word;
  caret-color: black;
  background-color: #EBEDE8;
}

.inputBar[contenteditable]:empty::before {
  color: EBEDE8;
  caret-color: black;
  content: attr(data-placeholder);
  overflow: scroll;
}

.userTools {
  display: flex;
  width: 100%;
  bottom: 0px;
  /* background-color:#4a4a4a; */
  padding: 2px 2px 2px 2px;
}

.clearButton {
  vertical-align: middle;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  flex: 1;
  height: auto;
  cursor: pointer;
  background-color: #EBEDE8; 
  user-select: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.clearButton:hover{
  background-color: var(--light-secondary-color);;
}

.enterButton {
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  bottom: 0px;
  flex: 1;
  float:right;
  height: auto;
  background-color: #EBEDE8;
  user-select: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.enterButton:hover{
  background-color: var(--light-secondary-color);
}


.user_message{
  background-color: #4a4a4a;
  color: whitesmoke;
  width: fit-content;
  word-wrap: break-word;
  max-width: 75%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  margin-top:3px;
  margin-bottom:2px;
  margin-left: auto;
  margin-right: 5px;
  caret-color: transparent;
  user-select: none;
}

.response{
  background-color: var(--secondary-color);
  color: whitesmoke;
  width: fit-content;
  word-wrap: break-word;
  max-width: 75%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  margin-top:3px;
  margin-bottom:5px;
  margin-left: 5px;
  caret-color: transparent;
  white-space: pre-wrap;
  user-select: none;
}
.contextmenu{
  position: absolute;
  list-style: none;
  top: 2px;
  right: 2px;
}

.contextmenu li{
  display: inline;
  padding-right: 4px;
}

.end {
  height: 5px;
  display: block;
  caret-color: transparent;
}

.feed{
  margin-top: 10px;
    padding-top: 10px;
    /* padding-left: 5px; */
    /* padding-right: 5px; */
    width: 100%;
    height: 75vh;
    background-color: #FFFFFF;
    /* -ms-overflow-style: none; */
    overflow:scroll;
    font-size: var(--text-size);
    border-radius: 10px;
}

  ::-webkit-scrollbar {
    width: 1px;
    right: 1px;
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 25px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    visibility:visible;
    background: #555; 
    border-radius: 25px;
  }
