.placeholder:hover {
  display: none;
}

.inputBar {
  border: 1px solid #ccc;
  padding: 1px 6px;
  display: block;
  width: 100%;
  overflow: hidden;
  min-height: 40px;
  line-height: 20px;
  resize: none;
  font-size: var(--text-size);
  word-wrap: break-word;
  caret-color: black;
}

.inputBar[contenteditable]:empty::before {
  color: gray;
  caret-color: black;
  content: var(--prompt);
}

.userTools {
  display: flex
}

.clearButton {
  flex: 1;
  height: auto;
}

.enterButton {
  flex: 1;
  float:right;
  height: auto;
}


.user_message{
  background-color: #4a4a4a;
  color: whitesmoke;
  width: fit-content;
  word-wrap: break-word;
  max-width: 75%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  margin-top:3px;
  margin-bottom:2px;
  margin-left: auto;
  margin-right: 5px;
  caret-color: transparent;
}

.response{
  background-color: var(--secondary-color);
  color: whitesmoke;
  width: fit-content;
  word-wrap: break-word;
  max-width: 75%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  margin-top:3px;
  margin-bottom:5px;
  margin-left: 5px;
  caret-color: transparent;
}

.end {
  height: 5px;
  display: block;
  caret-color: transparent;
}

.feed{
    margin-top: 10px;
    width: 100%;
    height: 450px;
    overflow-y: scroll;
    font-size: var(--text-size);
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 25px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 25px;
  }
