.user_message{
  background-color: #4a4a4a;
  color: whitesmoke;
  width: fit-content;
  word-wrap: break-word;
  max-width: 75%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  margin-top:3px;
  margin-bottom:2px;
  margin-left: auto;
  margin-right: 5px;
}

.clearButton {
  width: 50px;
}

.enterButton {
  width: 50px;
  float:right;
}

.inputBar {
  width: 60%;
}

.feed{
    width: 100%;
    height: 350px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 25px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 25px;
  }
