* {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    top: 2rem;
font-size: 5vh;
}
.splashtable{
    height: fit-content;
    padding: 1rem;
    --button-visible:hidden;
    --text-visible:none;
    --texttitle: none;
    border-spacing: 0 0.7rem !important;
    border-collapse:separate;
    font-size: 2vw;
}
.info{
    transition:  0.2s;
    display: var(--text-visible);
}
.texttitle{
    text-decoration: var(--texttitle);
}
.text{
    text-align: center;
    align-items: center;
    transition: 0.5s;
    width: 60vw;
    padding: 20px;
}
.badger{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

.image{
    padding: inherit;
    object-fit:contain;
    width: 40vw;
}
.button{
    padding-top: 40px;
}
button{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: 0.1s ease-in;
    visibility: var(--button-visible);
    cursor: pointer;
    box-shadow: 2px 2px 4px black inset;
    border: 2px double;
    font-size: 2vw;
}
button:hover{
    box-shadow: 2px 2px 4px black;
}
.brockbutton{
    background-color: #FF4D4D;
}
.brockbutton:hover{
    background-color: #FF0000;
}
.canadabutton{
    background-color: #006DA155;
}
.canadabutton:hover{
    background-color: #80D6FF;
}

.runner {
    padding-top: 1rem;

    border-radius: 10px;
}
.background{
    background-color: whitesmoke;
}

.context{
    width: 100%;
    background-color: #f5f5f5;
    filter: brightness(70%);
    transition: all 0.2s;
    box-shadow: 2px 2px 4px black;
    padding: 20px;
    transform: scale(0.99);
}
.context:hover{
    filter: brightness(90%);
    --button-visible:visible;
    --text-visible:block;
    transform: scale(1);
    box-shadow: 4px 4px 4px black;
    --texttitle: underline;
}

.canada{
    background-image: url(https://niagara2022games.ca/assets/img/n21-hero-cgp-lg.jpg);
    background-size: cover;
    cursor: pointer;
}

.choice:hover{
    vertical-align: text-top;
}
.title{
    text-align: center;
    z-index: 1;
    width: 100%;
}
footer{
    text-align: center;
    background-color: #fff5f4;
    box-shadow: 3px 3px black;
}

@media only screen and (max-width:768px){
    /*the mobile version*/
    .container { 
    display: flex;
    flex-direction: column;
}

.container > div { 
    flex: 2;
    margin: 1px; 
    padding: 20px; 
    text-align: center;
    text-shadow: 1px 1px #000000;
    font-size: larger;
    height: 500px;
    filter: brightness(80%);
    left: 50%;
    max-width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}  
.title{
    text-align: center;
    z-index: 1;
    width: 100%;
    position: relative;
} 
}