<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask 
            SQLAlchemy example</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Students (<a href = "{{ url_for('new') }}">Add Student
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>code</th>
               <th>description</th>
               <th>prereq</th>
               <th>xlist</th>
            </tr>
         </thead>
         
         <tbody>
            {% for course in courses %}
               <tr>
                  <td>{{ course.name }}</td>
                  <td>{{ course.city }}</td>
                  <td>{{ course.addr }}</td>
                  <td>{{ course.pin }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>