<html>
    <head>
        <title>Chatbot</title>
        <link rel="icon" href="icon.png">
        <link rel="stylesheet" href="/static/react/css/splash.css">
    
    </head>
    <body class = "background" display = "flex">

        <div class="runner">
            <div class="title">
                <h1>Welcome to Chatbot</h1>
                <h3>Pick your chatbot:</h3>
            </div>
            
            <div class="container">
                <div class="choice brock"onclick="window.location.href=window.location.href+'brock'">
                    <h2> Brock University</h2>
                </div>
                <div class="choice canada" onclick="window.location.href=window.location.href+'canada'">
                    <h2>Canada Games</h2>
                </div> 
            </div>


            <div class ="info">
                A COSC 4P02 project dedicated to helping students with finding information regarding Brock University and Canada Games
                Group Members:
                <p>Greg Pogue</p>
                <p>Joel Jacob</p>
                <p>Sam Langdon</p>
                <p>Kylee Schram</p>
                <p>Brendan Park</p>
                <p>Madeline Janecek</p>
            </div>
        </div>

    </body>
</html>

