html {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    background-color: #af57b3;
    box-shadow: 5px 5px;
    margin: 0;
    position: relative;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    width: 500px;
}

li{
    background-color: rgb(131, 130, 130);
    color: snow;
    padding: 10px;
}

li:hover {
    background-color: #af57b3;
}






