h3, h1 {
    text-align: center;
    color: white; 
    position: absolute;
    top: 8px;
    z-index: 1;
    left: 50%
}
h1, .info  {
    /* background-color: #103a88; */
    padding: 10px;
    color: white;
}
.info {
    bottom: 0;
    background-color: black;
    width: 100%;
}

.container { 
    display: flex;
}

.container > div { 
    flex: 2;
    margin: 1px; 
    padding: 20px; 
    text-align: center;
    text-shadow: 1px 1px #000000;
    font-size: larger;
    height: 500px;
    filter: brightness(80%);
    left: 50%;
    max-width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}   

.choice > h2 { 
    filter: brightness(100%);
    vertical-align: middle;
    color: white;
}

.runner {
    align-self: center;
    box-shadow: 2px 2px 4px #272727;
}

.brock{
    background-image: url(brock-tower-cropped.jpg);
    display: flex;
    justify-content: center;
}

.canada{
    background-image: url(canada-games-park.jpg);
}

.container > div:hover{ 
    filter: brightness(100%);
}

p {
    margin: 3px;
}
.background { 
    background-color: black;
}